*{
  font-family: 'Poppins', sans-serif;
}
body{
  font-size: 12px;
}

#container {
  background-color: lightyellow;
  margin: auto;
  text-align: center;
}

#generator {
  text-align: center;
  margin-top: 10px;
}

#sacarBt, #reiniciarBt{
  border: 1px solid;
  background-color: green;
  color: white;
  width: 80%;
  font-size: 1em;
  line-height: 1em;
  height: 1.5em;
}

.elements-container {
  display: flex;
  flex-wrap: wrap;
}

.main-ball{
  width: 50%
}

.total-balls{
  width: 50%
}

.balls-list {
  width: 100%
}

.number-container {
  font-size: 3em;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: red;
  color: white;
  margin: 5px auto;
}

.last-numbers-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.last-numbers {
  color: blue;
  height: 1em;
}

#total-of-balls {
  height: 1em;
}

.list-container{
  margin: 50px auto;
}

.number-list {
  border: 1px solid;
  font-size: 30px;
  min-height: 300px;
}
